* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.send_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    border: 1px solid silver;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 80px;
}

button {
    display: block;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    background-color: green;
    color: white;
    cursor: pointer;
}

.report_button {
    background-color: cadetblue;
    margin: 0 auto;
    margin-bottom: 80px;
}

.result {
    text-align: center;
}

img {
    width: 900px;
}
